.hg/
*.elc
*.*~
*.pyc
*.o
.bash_history
.breadcrumb
.gitconfig
.gitk
.recentf
.smex-items
.sbclrc
.elcrc
.hgrc
PUTTY.chw
.sdirs
.hgk
.phistory
_viminfo
nano.log
httplog.log
home/zhoujd/.history
home/zhoujd/.emacs-bmk-bmenu-state.el
home/zhoujd/.geiser_history.racket
home/zhoujd/.lesshst
home/zhoujd/.recently-used.xbel
home/zhoujd/.slime-history.eld
home/zhoujd/tmp/
.git-credentials

zz*/
.*/

libexec/git-core/
lib/perl5/
lib/tcl8/
lib/tcl8.5/
lib/tk8.5/
doc/git/html/

share/multiviewer/Multiviewer.config
mtputty.xml
