.hg/
.config/
.emacs.d/
.slime/
.ssh/
.gnupg/

*.elc
*.*~
*.pyc
*.o
.bash_history
.breadcrumb
.gitconfig
.gitk
.recentf
.smex-items
.sbclrc
.elcrc
.hgrc
.sdirs
.hgk
.phistory
.history
.emacs-bmk-bmenu-state.el
.geiser_history.racket
.lesshst
.recently-used.xbel
.slime-history.eld
.wget-hsts
.git-credentials
.bash_addpath
.bash_proxy
.viminfo
.netrwhist
.gambit_history
99-proxy.sh

_viminfo

zz*/
tmp/

Multiviewer.config
mtputty.xml
mc.hot
mc.ini
PUTTY.chw
nano.log
httplog.log
.Xauthority*
.tig_history
.tramp_history
~/common-lisp  
~/quicklisp
~/lisp
