<?xml version="1.0"?>
<GlobalSettings xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AutoCloseTabs>true</AutoCloseTabs>
  <AutoWrapLines>true</AutoWrapLines>
  <FontName>Consolas</FontName>
  <FontSize>10.5</FontSize>
  <ShowMinimalisticModeWarning>true</ShowMinimalisticModeWarning>
  <Editor>
    <TemporaryDirectory>/tmp</TemporaryDirectory>
    <TabSize>4</TabSize>
    <ShowLineNumbers>true</ShowLineNumbers>
    <DarkColors>
      <TextColor>
        <Alpha>255</Alpha>
        <Red>255</Red>
        <Green>255</Green>
        <Blue>255</Blue>
      </TextColor>
      <BackColor>
        <Alpha>255</Alpha>
        <Red>58</Red>
        <Green>46</Green>
        <Blue>15</Blue>
      </BackColor>
      <LineNumberBackground>
        <Alpha>255</Alpha>
        <Red>64</Red>
        <Green>64</Green>
        <Blue>64</Blue>
      </LineNumberBackground>
      <LineNumberForeground>
        <Alpha>255</Alpha>
        <Red>211</Red>
        <Green>211</Green>
        <Blue>211</Blue>
      </LineNumberForeground>
    </DarkColors>
    <LightColors>
      <TextColor>
        <Alpha>255</Alpha>
        <Red>0</Red>
        <Green>0</Green>
        <Blue>0</Blue>
      </TextColor>
      <BackColor>
        <Alpha>255</Alpha>
        <Red>250</Red>
        <Green>250</Green>
        <Blue>210</Blue>
      </BackColor>
      <LineNumberBackground>
        <Alpha>255</Alpha>
        <Red>240</Red>
        <Green>240</Green>
        <Blue>240</Blue>
      </LineNumberBackground>
      <LineNumberForeground>
        <Alpha>255</Alpha>
        <Red>169</Red>
        <Green>169</Green>
        <Blue>169</Blue>
      </LineNumberForeground>
    </LightColors>
  </Editor>
  <LargeBlockCutoffPoint>1048576</LargeBlockCutoffPoint>
  <DefaultUploadDirectory>/tmp</DefaultUploadDirectory>
  <OpenLocalDirAfterDownload>false</OpenLocalDirAfterDownload>
  <ShowCtrlInsertWarnings>true</ShowCtrlInsertWarnings>
  <UseCtrlShortcuts>false</UseCtrlShortcuts>
  <EmulateDirectionKeysWithMouseWheel>true</EmulateDirectionKeysWithMouseWheel>
  <ShiftPageXXToScroll>true</ShiftPageXXToScroll>
  <InterceptCtrlClipboardShortcuts>false</InterceptCtrlClipboardShortcuts>
  <SendAltPlusLetterToSession>true</SendAltPlusLetterToSession>
  <CopyOnSelection>true</CopyOnSelection>
  <XServer>Ask</XServer>
  <XMingMode>-multiwindow</XMingMode>
  <BeepMode>None</BeepMode>
  <ShowUnrecognizedCharactersAsHex>false</ShowUnrecognizedCharactersAsHex>
  <Theme>Light</Theme>
  <TabHeaderOrientation>Top</TabHeaderOrientation>
  <SessionHeaderOrientation>Left</SessionHeaderOrientation>
  <DefaultTextColor>
    <Alpha>255</Alpha>
    <Red>211</Red>
    <Green>211</Green>
    <Blue>211</Blue>
  </DefaultTextColor>
  <VerticalScrollbarMode>Show</VerticalScrollbarMode>
  <HorizontalScrollbarMode>Auto</HorizontalScrollbarMode>
  <VirtualTerminal>
    <DefaultMode>Disabled</DefaultMode>
    <CompletionTriggers>
      <CtrlSpace>false</CtrlSpace>
      <Slash>false</Slash>
      <Space>false</Space>
      <FirstCharacterInWord>false</FirstCharacterInWord>
      <HistoryFileName>~/.bash_history</HistoryFileName>
    </CompletionTriggers>
    <DefaultShell>bash</DefaultShell>
    <InteractiveModeWrapper>true</InteractiveModeWrapper>
    <ShowFileExplorer>true</ShowFileExplorer>
    <AutoLinkExtensions>.c;.cpp;.h;.sh;.txt;.js</AutoLinkExtensions>
  </VirtualTerminal>
</GlobalSettings>