## .gitignore

.gdbinit.d/
.emacs.d/
.slime/
.ssh/
.gnupg/
.fonts/
.local/
.zach/

.ash_history
.bash_history
.breadcrumb
.git-prompt.sh
.git-credentials
.gitconfig
.gitconfig-url
.gitconfig-work
.gitconfig-url
.gitk

.smex-items
.sbclrc
.elcrc
.hgrc
.sdirs
.hgk
.phistory
.history
.emacs-bmk-bmenu-state.el
.geiser_history.racket
.lesshst
.recentf
.recently-used.xbel
.slime-history.eld
.wget-hsts
.bash_addpath
.bash_proxy
.viminfo
.netrwhist
.gambit_history
.gdbinit
.Xauthority*
.tig_history
.tramp_history

common-lisp/
quicklisp/
lisp/
tmp/
work/
zz*/
