## .gitignore

.config/
.emacs.d/
.slime/
.ssh/
.gnupg/
.fonts/

.bash_history
.breadcrumb
.gitconfig
.git-prompt.sh
.gitconfig-1source
.gitconfig-url
.gitk
.recentf
.smex-items
.sbclrc
.elcrc
.hgrc
.sdirs
.hgk
.phistory
.history
.emacs-bmk-bmenu-state.el
.geiser_history.racket
.lesshst
.recently-used.xbel
.slime-history.eld
.wget-hsts
.git-credentials
.bash_addpath
.bash_proxy
.viminfo
.netrwhist
.gambit_history
.gdbinit
.gdbinit.d/

zz*/
tmp/
work/

.Xauthority*
.tig_history
.tramp_history
common-lisp/
quicklisp/
lisp/
.local/
.zach/
